<h3>Create Post</h3>
<form class="text-muted" id="create-form">
    <div class="form-group">
        <label for="title">Write a title</label>
        <input type="text" class="form-control" id="title" placeholder="Title">
    </div>
    <div class="form-group">
        <label for="category">Choose a category</label>
        <select id="category" class="form-control">
            <option>Phones</option>
            <option>Laptops</option>
            <option>Tablets</option>
        </select>
    </div>
    <div class="form-group">
        <label for="image">Set image URL</label>
        <input type="text" class="form-control" id="image" placeholder="Image URL">
    </div>
    <div class="form-group">
        <label for="videoUrl">Set video URL</label>
        <input type="text" class="form-control" id="videoUrl" placeholder="Video URL">
    </div>
    <div class="form-group">
        <label for="article">Write your post</label>
        <textarea class="form-control" rows="8" id="article"></textarea>  
    </div>
    <button type="submit" id="btn-create-post" class="btn btn-primary">Submit</button>   
</form>