.container-fluid {
  padding-left: 0px;
  padding-right: 0px; }

.home-carousel .car-wrapper {
  padding-left: -15px !important;
  padding-right: -15px !important; }

.carousel .carousel-indicators {
  top: 330px; }
.carousel .carousel-indicators li {
  border: 1px solid black; }
.carousel .carousel-indicators .active {
  background-color: black; }
.carousel .carousel-indicators .active {
  background-color: black; }
.carousel .item {
  height: 304px; }
  .carousel .item h3 {
    color: #e3e3e3; }
.carousel .left.carousel-control a {
  opacity: 0; }
  .carousel .left.carousel-control a :hover {
    color: #929292; }
  .carousel .left.carousel-control a :visited {
    color: white; }
.carousel .left.carousel-control span {
  background-color: white;
  width: 30%;
  height: 15%;
  top: 50%;
  color: black;
  left: 0%;
  padding-bottom: 0px;
  border-top-width: 10px;
  padding-top: 8px;
  padding-left: 10px; }
.carousel .right.carousel-control a {
  opacity: 0; }
.carousel .right.carousel-control span {
  background-color: white;
  width: 30%;
  height: 15%;
  top: 50%;
  color: black;
  right: 0%;
  padding-bottom: 0px;
  padding-right: 10px;
  border-top-width: 10px;
  padding-top: 8px; }

.posts {
  margin-bottom: 2%; }
  .posts .post-item {
    margin-left: 3.89%;
    margin-right: 3%;
    width: 26%;
    margin-bottom: 2%;
    display: inline-block; }
    .posts .post-item .post-title {
      position: relative;
      z-index: 5; }
    .posts .post-item a:hover {
      color: #76a0aa; }
    .posts .post-item .post-image {
      max-width: 100%; }
  .posts .post-box {
    border: 5px solid white;
    outline: 1px solid #929292; }

aside {
  margin-top: 1.112%; }
  aside .home-aside-links {
    margin-bottom: 5%;
    z-index: 5;
    margin-left: 3.7%;
    margin-right: 3.7%; }
    aside .home-aside-links .blog-links {
      width: 45%; }
    aside .home-aside-links ul {
      width: 30%;
      margin-left: 15px;
      margin-right: 0; }
    aside .home-aside-links p {
      line-height: 1.4; }
  aside .home-video div {
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: #929292;
    -webkit-box-shadow: 4px 6px 4px -4px #929292;
    -moz-box-shadow: 4px 6px 4px -4px #929292;
    box-shadow: 4px 6px 4px -4px #929292;
    border-radius: 3px; }
  aside .home-video iframe {
    margin: 4.5% 6.7%; }

.header-text {
  position: absolute;
  top: 12%;
  left: 58%;
  width: 36%;
  height: 90%;
  color: #f0f0f0;
  opacity: 0.4;
  background-color: #000;
  z-index: 20; }

.header-text:hover {
  background-color: #000;
  opacity: .9;
  color: #fff; }

.header-text h2 {
  color: #fbfbfb; }

.carousel-box-title {
  display: inline-block;
  overflow: hidden;
  padding: 10px; }

.carousel-box-text {
  display: inline-block;
  overflow: hidden;
  font-size: 18px;
  max-height: 130px;
  color: #fbfbfb; }

/*# sourceMappingURL=home.css.map */
