.jumbotron-single-post .single-post {
  -moz-box-shadow: inset 0 8px 65px -6px #FCFCFC;
  -webkit-box-shadow: inset 0 8px 65px -6px #FCFCFC;
  box-shadow: inset 0 8px 65px -6px #FCFCFC;
  -moz-box-shadow: inset 0 -8px 65px 6px #FCFCFC;
  -webkit-box-shadow: inset 0 -8px 65px 6px #FCFCFC;
  box-shadow: inset 0 -8px 65px 6px #FCFCFC;
  margin-left: 2.5%;
  margin-right: 2.5%; }

.jumbotron-post-header {
  padding: 0;
  margin: 0; }
  .jumbotron-post-header .post-header {
    margin-left: 0;
    padding: 1.112%; }

.post-page {
  margin-left: 1.112%; }

.post-article {
  margin-top: 1.112%; }
  .post-article .article div {
    margin-top: 1.112%;
    padding-left: 0;
    padding-right: 0; }
  .post-article .article p {
    line-height: 1.9;
    text-align: justify; }
  .post-article .pain-in-the-ass {
    padding: 0; }
  .post-article .post-image {
    height: 100%;
    width: 100%; }

.video-wrapper {
  margin: 0; }
  .video-wrapper .video-container {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 2.6%;
    height: 0; }
  .video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.side-menu-wrapper ul li a p {
  line-height: 1.4; }
.side-menu-wrapper ul {
  margin-bottom: 16.5%; }

.comments-wrapper {
  margin-left: 2.23%;
  margin-top: 2.23%; }
  .comments-wrapper h1 {
    margin-bottom: 3.23%; }
  .comments-wrapper .date-wrapper {
    margin-top: 15px;
    margin-right: 15px; }
    .comments-wrapper .date-wrapper em {
      color: #d4d4d4;
      text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004); }
  .comments-wrapper .comment-box {
    -moz-box-shadow: inset 0 8px 65px -6px #fbfbfb;
    -webkit-box-shadow: inset 0 8px 65px -6px #fbfbfb;
    box-shadow: inset 0 8px 65px -6px #fbfbfb;
    -moz-box-shadow: inset 0 -8px 65px 6px #fbfbfb;
    -webkit-box-shadow: inset 0 -8px 65px 6px #fbfbfb;
    box-shadow: inset 0 -8px 65px 6px #fbfbfb;
    margin-bottom: 5%;
    border: 1px solid #E3E3E3; }
  .comments-wrapper .content-wrapper {
    margin: 0 !important;
    padding: 0 !important; }
  .comments-wrapper .comments-image-box {
    margin: 0 !important;
    padding: 0 !important;
    height: 100px; }
    .comments-wrapper .comments-image-box .comment-image {
      box-sizing: border-box;
      border-width: 1px;
      border-style: solid;
      border-color: #fbfbfb;
      -webkit-box-shadow: 4px 6px 4px -4px #929292;
      -moz-box-shadow: 4px 6px 4px -4px #929292;
      box-shadow: 4px 6px 4px -4px #929292;
      border: 8px solid white;
      outline: 1px solid #929292;
      margin-top: 15px;
      margin-left: 15px;
      height: 100%; }
  .comments-wrapper .comment-text {
    padding-left: 0;
    padding-right: 0px;
    margin-left: 3.47%; }
    .comments-wrapper .comment-text h3 {
      color: #1d1d1d;
      padding-top: 1.6%; }
    .comments-wrapper .comment-text p {
      color: #929292;
      margin-top: 1.6%;
      padding-right: 4.7%;
      margin-bottom: 1.54%;
      line-height: 1.667;
      text-align: justify; }
  .comments-wrapper #leave-reply-email,
  .comments-wrapper #leave-reply-text {
    -moz-box-shadow: inset 0 8px 65px -6px #fbfbfb;
    -webkit-box-shadow: inset 0 8px 65px -6px #fbfbfb;
    box-shadow: inset 0 8px 65px -6px #fbfbfb;
    -moz-box-shadow: inset 0 -8px 65px 6px #fbfbfb;
    -webkit-box-shadow: inset 0 -8px 65px 6px #fbfbfb;
    box-shadow: inset 0 -8px 65px 6px #fbfbfb;
    border-radius: 0;
    padding: 2.31%; }
  .comments-wrapper #leave-reply-submit {
    margin-left: 0;
    float: right;
    margin-bottom: 5.8%;
    padding-left: 3.46%;
    padding-right: 3.46%;
    padding-top: .699%;
    padding-bottom: .699%; }

/*# sourceMappingURL=post.css.map */
