@import '../variables';
@import '../mixins/no-idea';
footer {
    border-top: 1px solid $light-gray;
    background-color: $footer;
    color: $gray;
    font-family: 'Kreon';
    .container {
        @include side-margins(3.71%, 3.71%);
        ul {
            list-style-type: none;
            li a p {
                line-height: 1.4;
            }
        }
        .bullet-type {
            list-style-type: disc;
        }
        .logo-box {
            img {
                height: 60px;
            }
        }
        .footer-wrapper {
            margin-bottom: 12%;
        }
    }
}