@import '../variables';
@import '../mixins/no-idea';
.jumbotron {
    font-family: 'Kreon';
    padding-top: 2px;
    background-color: white;
    .container {
        width: 90%;
        margin-top: .84%;
        border-top: 1px solid $light-gray;
        border-bottom: 1px solid $light-gray;
        h1 {
            text-align: center;
            color: black;
            font-size: 3.733rem;
            @include top-down-margins(2.8%, 1.4%);
        }
        p {
            @include top-down-margins(0px, 2.8%);
            text-align: center;
            color: $gray;
        }
    }
}