@import '../variables';
@import '../mixins/no-idea';
nav {
    @include blur();
    font-family: 'Kreon';
    margin-bottom: 0;
    .nav-link {
        font-size: 1.42em;
        color: black;
    }
    .nav-link:hover {
        background-color: white !important;
        color: $blue;
        font-weight: 600;
    }
    .nav-link:visited {
        font-weight: 600;
        background-color: white !important;
    }
    #logo {
        margin-left: 10%;
        padding-bottom: 5.4%;
    }
    .my-nav-links {
        margin-top: 4.411%;
    }
    .social-media {
        margin-top: 1.11%;
    }
    .social-icons {
        color: $god-damn-light-gray;
        float: right;
        padding-left: 2.21%;
        padding-right: 2.21%;
        font-size: 2.9rem;
    }
    .social-icons:hover {
        color: $blue;
    }
}