@font-face {
    font-family: 'Kreon';
    src: url('./assets/fonts/Kreon-Light.ttf');
}

@font-face {
    font-family: "DroidSans";
    src: url('./assets/fonts/DroidSans.ttf');
}

body {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: 'Kreon', 'Times New Roman', Times, serif;
}

.my-nav-links {
    padding-bottom: 0;
    padding-top: 0px;
}

.search-field {
    width: 40%;
    margin-bottom: 5px;
}

.nav-link {
    color: rgb(67, 125, 139);
}


/*To find a better way another time*/

#top-nav {
    height: 72px;
}

.no-padding {
    padding: 0;
}

.carousel .item {
    height: 300px;
}

.post-image {
    display: block;
    min-height: 200px;
    max-height: 100%;
    max-width: 100%;
}

.posts {
    display: block;
    margin: 0 auto;
    width: 100%;
}

.post-item {
    margin: 15px;
    width: 25%;
    z-index: 0;
    margin-bottom: 25px;
    display: inline-block;
}

.box {
    width: 100;
    height: 50%;
    border: 3px solid #f9f9f9;
    box-shadow: 10px solid rgb(146, 146, 146);
}

.comment-box,
.post-article {
    margin-top: 10px;
}

footer {
    background-color: rgb(249, 249, 249);
}

footer ul {
    list-style-type: none;
}

.logo-box {
    text-align: center;
}

.footer-logo {
    width: 140px;
    height: 60px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.NavBar {
    font-size: 15px;
    font-family: "Kreon";
    color: rgb(67, 125, 139);
}

.MainText {
    font-size: 12px;
    font-family: "DroidSans";
    color: rgb(146, 146, 146);
}

.LeftSideMenuFromTheBlog {
    font-size: 20px;
    font-family: "Kreon";
    color: rgb(29, 29, 29);
    line-height: 1.4;
}

.BigQuoteHomePage {
    font-size: 28px;
    font-family: "Kreon";
    color: rgb(29, 29, 29);
    line-height: 1;
    text-align: center;
    position: absolute;
}

.MediaBar {
    font-size: 12px;
    font-family: "Georgia";
    color: rgb(146, 146, 146);
    font-style: italic;
    line-height: 1.5;
    text-align: left;
    position: absolute;
}