@import '../variables';
.home-carousel {
    .car-wrapper {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

.carousel {
    .item {
        height: 300px;
        h3 {
            color: $god-damn-light-gray;
        }
    }
}

.posts {
    .post-item {
        @include side-margins(50px, 50px);
        width: 25%;
        z-index: 0;
        margin-bottom: 25px;
        display: inline-block;
        a:hover {
            color: $blue;
        }
        .post-image {
            max-width: 100%;
            // max-height: 100%;
        }
    }
    .post-box {
        // width: 225px;
        // height: 225px;
        // text-align: center;
        @include border();
    }
}

aside {
    margin-top: 15px;
    .home-aside-links {
        .blog-links {
            margin-bottom: 10px;
            width: 45%;
        }
        z-index: 5;
        @include side-margins(50px, 50px);
        ul {
            width: 30%;
            @include side-margins(15px, 0);
        }
        p {
            line-height: 1.4
        }
    }
    .home-video {
        div {
            @include shadow();
        }
        iframe {
            margin: 20px 30px 20px 30px;
        }
    }
}