@import '../variables';
@import '../mixins/no-idea';
.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.home-carousel {
    .car-wrapper {
        padding-left: -15px !important;
        padding-right: -15px !important;
    }
}

.carousel {
    .item {
        height: 300px;
        h3 {
            color: $god-damn-light-gray;
        }
    }
}

.posts {
    margin-bottom: 10%;
    .post-item {
        @include side-margins(3.7%, 3%);
        width: 26%;
        z-index: 0;
        margin-bottom: 2%;
        display: inline-block;
        a:hover {
            color: $blue;
        }
        .post-image {
            max-width: 100%;
        }
    }
    .post-box {
        @include border();
    }
}

aside {
    margin-top: 1.112%;
    .home-aside-links {
        .blog-links {
            margin-bottom: 2.4%;
            width: 45%;
        }
        z-index: 5;
        @include side-margins(3.7%, 3.7%);
        ul {
            width: 30%;
            @include side-margins(15px, 0);
        }
        p {
            line-height: 1.4
        }
    }
    .home-video {
        div {
            @include shadow();
        }
        iframe {
            margin: 20px 30px 20px 30px;
        }
    }
}