@import "../variables";
@import "../mixins/no-idea";
.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.home-carousel {
    .car-wrapper {
        padding-left: -15px !important;
        padding-right: -15px !important;
    }
}

.carousel {
    .item {
        height: 454px;
        h3 {
            color: $god-damn-light-gray;
        }
    }
    .left.carousel-control {
        a {
            opacity: 0;
             :hover {
                color: $gray;
            }
             :visited {
                color: white;
            }
        }
        span {
            background-color: white;
            width: 30%;
            height: 10%;
            top: 50%;
            color: black;
            left: 0%;
            padding-bottom: 0px;
            border-top-width: 10px;
            padding-top: 8px;
            padding-left: 10px;
        }
    }
    .right.carousel-control {
        a {
            opacity: 0;
        }
        span {
            background-color: white;
            width: 30%;
            height: 10%;
            top: 50%;
            color: black;
            right: 0%;
            padding-bottom: 0px;
            padding-right: 10px;
            border-top-width: 10px;
            padding-top: 8px;
        }
    }
}

.posts {
    margin-bottom: 2%;
    .post-item {
        .post-title {
            position: relative;
            z-index: 5;
        }
        @include side-margins(3.89%, 3%);
        width: 26%;
        margin-bottom: 2%;
        display: inline-block;
        a:hover {
            color: $blue;
        }
        .post-image {
            max-width: 100%;
        }
    }
    .post-box {
        @include border(5px);
    }
}

aside {
    margin-top: 1.112%;
    .home-aside-links {
        margin-bottom: 5%;
        .blog-links {
            width: 45%;
        }
        z-index: 5;
        @include side-margins(3.7%, 3.7%);
        ul {
            width: 30%;
            @include side-margins(15px, 0);
        }
        p {
            line-height: 1.4
        }
    }
    .home-video {
        div {
            @include shadow();
        }
        iframe {
            margin: 4.5% 6.7%;
        }
    }
}