@import "../mixins/no-idea";
@import "../variables";
.jumbotron-single-post {
    .single-post {
        @include blur($almost-white);
        margin-left: 2.5%;
        margin-right: 2.5%;
    }
}

.jumbotron-post-header {
    padding: 0;
    margin: 0;
    .post-header {
        margin-left: 0;
        padding: 1.112%;
    }
}

.post-page {
    margin-left: 1.112%;
}

.post-article {
    margin-top: 1.112%;
    .article {
        div {
            margin-top: 1.112%;
            padding-left: 0;
            padding-right: 0;
        }
        p {
            line-height: 1.9;
            text-align: justify;
        }
    }
    .pain-in-the-ass {
        padding: 0;
    }
    .post-image {
        height: 100%;
        width: 100%;
    }
}

.video-wrapper {
    margin: 0;
    .video-container {
        position: relative;
        padding-bottom: 56.25%;
        /* 16:9 */
        padding-top: 2.6%;
        height: 0;
    }
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.side-menu-wrapper {
    ul li a p {
        line-height: 1.4;
    }
    ul {
        margin-bottom: 16.5%;
    }
}

.comments-wrapper {
    margin-left: 2.23%;
    margin-top: 2.23%;
    h1 {
        margin-bottom: 3.23%;
    }
    .date-wrapper {
        margin-top: 15px;
        margin-right: 15px;
        em {
            color: rgb(212, 212, 212);
            text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
        }
    }
    .comment-box {
        @include blur($light-gray);
        margin-bottom: 5%;
        border: 1px solid $god-damn-light-gray;
    }
    .content-wrapper {
        @include reset();
    }
    .comments-image-box {
        @include reset();
        height: 100px;
        .comment-image {
            @include shadow();
            @include border(8px);
            margin-top: 15px;
            margin-left: 22px;
            height: 100%;
        }
    }
    .comment-text {
        padding-left: 0;
        padding-right: 0px;
        margin-left: 3.47%;
        h3 {
            color: rgb(29, 29, 29);
            padding-top: 1.6%;
        }
        p {
            //font-family: "DroidSans";
            color: $gray;
            margin-top: 1.6%;
            padding-right: 4.7%;
            margin-bottom: 1.54%;
            line-height: 1.667;
            text-align: justify;
        }
    }
    #leave-reply-email,
    #leave-reply-text {
        @include blur($light-gray);
        border-radius: 0;
        padding: 2.31%;
    }
    #leave-reply-submit {
        margin-left: 0;
        float: right;
        margin-bottom: 5.8%;
        padding-left: 3.46%;
        padding-right: 3.46%;
        padding-top: .699%;
        padding-bottom: .699%;
    }
}