@import "./partials/loader";
@import "./variables";
@import "./partials/reset";
@import "./partials/font-size";
@import "./mixins/no-idea";
@import "./partials/jumbotron";
@import "./partials/breadcrumb";
@import "./partials/nav";
@import "./pages/home";
@import "./pages/post";
@import "./partials/footer";
@import "./media_queries/extra-super-small";
@import "./media_queries/extra-small";
@import "./media_queries/small";
@import "./media_queries/medium";
@font-face {
    font-family: "Kreon";
    src: url("../../assets/fonts/Kreon-Light.ttf");
}

@font-face {
    font-family: "DroidSans";
    src: url("../../assets/fonts/DroidSans.ttf");
}

html {
    overflow-x: hidden;
}

body {
    font-size: 15px;
    font-family: "DroidSans", "Kreon", "Times New Roman", Times, serif;
    overflow-x: hidden;
}

small {
    font-family: "Georgia";
}

.form-wrapper {
    @include side-margins(0,
    0);
    margin-bottom: 1.5%;
}

.page-form {
    @include form-styles;
}

section {
    .blog-page-posts {
        margin-bottom: 10%;
        .blog-page-post-item {
            h3 {
                font-size: 100%;
            }
        }
    }
}

@include extra-super-small;
@include extra-small;
@include small;
@include medium;