@mixin blur() {
    -moz-box-shadow: inset 0 8px 65px -6px #FCFCFC;
    -webkit-box-shadow: inset 0 8px 65px -6px #FCFCFC;
    box-shadow: inset 0 8px 65px -6px #FCFCFC;
}

@mixin border() {
    border: 5px solid white;
    outline: 1px solid $gray;
}

@mixin little-screen-home-post {
    @include side-margins(2%, 2%);
    width: 96%;
    z-index: 0;
    margin-bottom: 25px;
    .post-image {
        max-width: 100%;
    }
}

@mixin little-screen-blog() {
    .blog-page-posts {
        @include side-margins(0px, 0px);
        width: 100%;
        .blog-page-post-item {
            @include side-margins(2%, 2%);
            margin-bottom: 10px;
            width: 96%;
        }
    }
}

@mixin blog-post-page() {
    section.posts {
        margin: 0;
        padding: 0;
        .post-page {
            margin-left: 0px;
        }
        .post-article {
            width: 100%;
        }
        .post-wrapper {
            padding-left: 0px;
            padding-right: 0px;
        }
        .pain-in-the-ass,
        .video-wrapper,
        .comments-wrapper {
            @include side-margins(1%, 1%);
        }
        .article {
            @include side-margins(1%, 1%);
            @include side-padding(1%, 1%);
            div {
                @include side-padding(0px, 0px);
            }
        }
    }
}

@mixin reset-side-margins() {
    margin-left: 0px;
    margin-right: 0px;
}

@mixin form-styles() {
    @include side-margins(5px, 5px);
    input {
        border-radius: 0px;
        @include blur();
    }
    button {
        border-radius: 0px;
        color: $light-gray;
        background-color: $blue;
    }
}

@mixin side-margins($left, $right) {
    margin-left: $left;
    margin-right: $right;
}

@mixin side-padding($left, $right) {
    padding-left: $left;
    padding-right: $right;
}

@mixin top-down-margins($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

@mixin shadow() {
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: $light-gray;
    -webkit-box-shadow: 4px 6px 4px -4px $gray;
    -moz-box-shadow: 4px 6px 4px -4px $gray;
    box-shadow: 4px 6px 4px -4px $gray;
}

@mixin reset() {
    margin: 0 !important;
    padding: 0 !important;
}